/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace,monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace,monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
@font-face {
  font-family: 'IBM Plex';
  src: url('../fonts/ibmplexsans-regular-webfont.woff2') format('woff2'), url('../fonts/ibmplexsans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'IBM Plex';
  src: url('../fonts/ibmplexsans-bold-webfont.woff2') format('woff2'), url('../fonts/ibmplexsans-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'IBM Plex';
  src: url('../fonts/ibmplexsans-extralight-webfont.woff2') format('woff2'), url('../fonts/ibmplexsans-extralight-webfont.woff') format('woff');
  font-weight: lighter;
  font-style: normal;
}
*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.6;
  font-weight: normal;
  font-family: 'IBM Plex', -apple-system, BlinkMacSystemFont, Segoe UI, Arial, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #101010;
}
img {
  max-width: 100%;
  height: auto;
}
a,
a:hover {
  text-decoration: none;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.hidden {
  display: none;
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
input:valid {
  border-color: #007bff;
}
input:invalid {
  border-color: red;
}
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 5px 13px;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  border-radius: 4px;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.btn-callback {
  height: 36px;
  font-size: 16px;
  font-weight: lighter;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #ffffff;
  padding: 5px 13px;
  border-radius: 4px;
  background-color: #099ef9;
  margin-left: 5px;
  margin-bottom: 10px;
}
.btn-callback:active {
  color: rgba(250, 250, 250, 0.7);
}
.form__item-btn {
  height: 40px;
  width: 236px;
  font-size: 16px;
  font-weight: lighter;
  text-transform: uppercase;
  background-color: #009eff;
  color: #fff;
  cursor: pointer;
}
.page-header__top {
  background-color: #f5f5f5;
  font-size: 14px;
  line-height: 1.71;
}
.top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 25px 0 20px;
  margin-right: -15px;
  margin-left: -15px;
  margin: 0 auto;
}
.page-header__phone {
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.2px;
  color: #000000;
  text-decoration: none;
}
.page-header__сontacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.page-header__mode {
  font-weight: lighter;
  font-size: 15px;
}
.page-header__logo {
  width: 25%;
  display: inline-block;
  overflow: hidden;
}
.page-header__address {
  width: 33.333333%;
}
.page-header__main-menu ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  padding-left: 0;
}
.page-header__main-menu ul .menu-item a {
  padding: 8px 30px;
  text-align: center;
}
.sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.menu-item a {
  color: #fff;
  -webkit-transition: color 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
}
.menu-item a:hover {
  color: rgba(250, 250, 250, 0.6);
}
.navbar a {
  border-right: 1px solid #2b2b2b;
}
.sub-menu {
  z-index: 2;
}
.sub-menu a {
  border: none;
}
.sub-menu li {
  border-right: none;
  border-bottom: 1px solid #2b2b2b;
  width: 100%;
  padding: 10px;
}
#main-menu li {
  list-style: none;
  margin-right: 0;
  text-transform: uppercase;
  float: left;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.9px;
  color: #ffffff;
  position: relative;
}
#main-menu li .sub-menu {
  display: none;
}
#menu-item-24:after {
  content: "";
  width: 11px;
  height: 16px;
  background-image: url(../img/download.svg);
  background-repeat: no-repeat;
  background-position: center;
  fill: #fff;
  position: absolute;
  top: 3px;
  right: 9px;
}
.sub-menu .menu-item a {
  display: block;
}
@media (max-width: 1200px) {
  .top-menu {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 40px 0 30px;
  }
  .page-header__сontacts,
  .page-header__address,
  .page-header__logo {
    width: 25%;
  }
}
.navbar-toggler {
  display: none;
}
@media (max-width: 995px) {
  .top-menu {
    padding: 40px 0 20px;
    padding-right: 15px;
    padding-left: 15px;
    display: block;
  }
  .page-header__сontacts,
  .page-header__address,
  .page-header__logo {
    width: auto;
  }
  .page-header__mode {
    margin-bottom: 15px;
  }
  .btn-callback {
    margin-left: 0;
  }
  .page-header__main-menu .navbar {
    display: none;
  }
  .navbar-toggler {
    position: relative;
    display: block;
    width: 56px;
    height: 40px;
    border-radius: 0.25rem;
    border-color: rgba(0, 0, 0, 0.1);
    color: #fff;
    cursor: pointer;
    background: #fff;
    margin: 16px;
  }
  .navbar-toggler::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 15px;
    width: 23px;
    height: 2px;
    background: #888;
    -webkit-box-shadow: 0 8px 0 0, #888, 0 16px 0 0 #888;
    box-shadow: 0 8px 0 0 #888, 0 16px 0 0 #888;
  }
}
@media (min-width: 768px) {
  .benefits__slaider {
    min-height: 75vh;
    background-image: url(../img/Phone.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}
.benefits {
  color: #fff;
  font-size: 14px;
}
.benefits__desc {
  margin-top: 100px;
  margin-bottom: 100px;
}
.benefits__subtitle,
.benefits__title {
  font-size: 24px;
  font-weight: lighter;
}
.benefits__subtitle {
  text-align: center;
  margin-bottom: 80px;
}
.benefits__desc-text {
  font-weight: normal;
  line-height: 1.44;
  letter-spacing: normal;
}
.benefits__brand-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  text-align: center;
  line-height: normal;
}
.benefits__brand-list .list-item {
  -webkit-box-flex: 33.3%;
  -ms-flex: 33.3%;
  flex: 33.3%;
  max-width: 33.3%;
  padding: 0px 10px;
}
.benefits__brand-list .list-item--link {
  display: block;
  color: #fff;
  font-size: 24px;
  font-weight: lighter;
  margin-bottom: 19px;
  border-bottom: 1px solid #000;
}
.benefits__brand-list .list-item--link:hover {
  border-color: #555;
}
.benefits__brand-list .brand-img {
  margin: 0 auto;
  width: 120px;
  height: 120px;
  max-width: 120px;
  max-height: 120px;
  background-image: url(../img/svg/logo_apple.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 15px;
}
.benefits__brand-list .samsung {
  background-image: url(../img/svg/logo_samsung.svg);
}
.benefits__brand-list .xiaomi {
  background-image: url(../img/svg/logo_mi.svg);
}
@media (max-width: 576px) {
  .benefits__brand-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .benefits__brand-list .list-item {
    display: block;
    max-width: 100%;
    margin-bottom: 20px;
  }
  .benefits__subtitle,
  .benefits__title {
    text-align: center;
  }
  .brand {
    margin-top: 15px;
  }
}
@media (min-width: 768px) {
  .benefits__subtitle,
  .benefits__title {
    text-align: center;
    font-size: 56px;
  }
  .benefits__desc-text {
    font-size: 18px;
    line-height: 24px;
    margin-top: 0;
  }
  .benefits__brand-list .brand-img {
    margin: 0 auto;
  }
  .brand {
    font-size: 46px;
    margin-bottom: 20px;
  }
}
#main-menu li .sub-menu {
  position: absolute;
  top: 0px;
  left: 0;
  padding-top: 30px;
}
#menu-item-24:hover .sub-menu {
  display: inline-block;
}
.benefits__slaider__item {
  display: none;
}
.score {
  background-color: #f3f3f3;
  padding-bottom: 40px;
}
.score__image {
  background-image: url(../img/img1.png);
  background-repeat: no-repeat;
  background-size: 280px;
  background-position: center;
  height: 320px;
}
.score__title {
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  margin-bottom: 19px;
}
.score__desc {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
}
.blockCaption {
  font-size: 16px;
  color: #009eff;
  margin: 25px;
  margin-left: 0;
  letter-spacing: 2.5px;
}
.about {
  display: block;
  text-align: center;
  margin-left: 25px;
}
.score_second-block {
  margin-top: 70px;
}
.score__subdesc,
.score__subtitle {
  text-align: center;
}
@media (min-width: 768px) {
  .score {
    padding-top: 40px;
    position: relative;
  }
  .benefits__slaider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .benefits__slaider__item {
    display: block;
    padding-top: 300px;
  }
  .benefits__title {
    font-size: 44px;
    font-weight: 300;
    font-stretch: normal;
    font-weight: lighter;
    line-height: 53px;
    text-align: left;
    padding-bottom: 0;
    margin-bottom: 40px;
    cursor: pointer;
  }
  .benefits__slaider__item:hover {
    color: #999999;
  }
  .benefits__span {
    font-size: 22px;
    line-height: 45px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 0px;
    font-weight: 300;
  }
  .score__image {
    background-size: 55%;
  }
  .blockCaption {
    display: block;
    text-align: center;
  }
  .score__title {
    font-size: 30px;
    line-height: 1.5;
    text-align: center;
    margin-top: 50px;
  }
  .score__desc {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    width: 600px;
    margin: 0 auto;
  }
}
@media (min-width: 980px) {
  .score__image {
    background-size: 40%;
  }
}
@media (min-width: 1200px) {
  .score__image {
    background-size: 35%;
  }
  .benefits__title {
    font-size: 56px;
  }
  .score__title {
    font-size: 36px;
  }
  .score__desc {
    font-size: 18px;
  }
  .score__subdesc {
    width: 725px;
    line-height: 1.44;
  }
  .blockCaption {
    display: block;
    width: 100%;
    text-align: left;
    font-weight: normal;
  }
  .score__subtitle {
    font-size: 56px;
  }
  .score__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 350px;
    margin-top: 80px;
  }
  .score__block .score__title {
    text-align: left;
    font-size: 56px;
    letter-spacing: 2;
    font-weight: lighter;
  }
  .score__block .score__image {
    position: absolute;
    top: 80px;
    right: 100px;
    width: 55%;
    height: 50%;
    background-size: contain;
  }
  .score__block .score__desc {
    text-align: left;
    width: 350px;
  }
  .about {
    display: block;
    text-align: center;
  }
}
.menu-item a {
  color: #fff;
  -webkit-transition: color 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
}
.menu-item a:hover {
  color: rgba(250, 250, 250, 0.6);
}
#main-menu .menu-item {
  padding: 0px;
}
.sub-menu .menu-item:hover {
  background-color: #1b1b1b;
}
.advantages {
  color: #fff;
}
.advantages__list-block {
  list-style: none;
  padding-left: 0;
  margin-top: 50px;
  margin-bottom: 50px;
}
.list_item__desc {
  margin-top: 1rem;
  font-size: 14px;
  font-weight: lighter;
  width: 55%;
  float: right;
  margin-top: 10%;
}
.advantages__title {
  font-size: 24px;
  margin-top: 100px;
  text-align: center;
  margin-bottom: 20px;
}
.list-item__title {
  font-weight: bold;
  font-size: 19px;
  margin-bottom: 0;
  text-align: center;
}
.advantages__list-item img {
  margin-right: 0px;
  margin-left: 5%;
  margin-bottom: 25px;
  margin-top: 30px;
}
@media (min-width: 400px) {
  .advantages__list-item img {
    margin-left: 12%;
  }
  .list-item__title {
    text-align: center;
  }
  .list_item__desc {
    text-align: left;
  }
}
@media (min-width: 500px) {
  .advantages__list-item img {
    margin-left: 15%;
  }
  .list_item__desc {
    margin-right: 5%;
  }
}
@media (min-width: 768px) {
  .advantages__title {
    font-size: 56px;
    font-weight: lighter;
  }
  .advantages__list-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .advantages__list-block {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
  }
  .advantages__list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 45%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .advantages__list-item img {
    width: 100px;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin: 15px;
  }
  .list-item__title {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin: 0;
    margin-bottom: 5px;
  }
  .list_item__desc {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    margin: 0;
    width: auto;
    text-align: center;
  }
}
@media (min-width: 1000px) {
  .advantages__list-item {
    width: 420px;
    margin: 15px;
  }
  .list_item__desc {
    width: 280px;
  }
  .advantages__list-block {
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 15px;
  }
  .list-item__title {
    margin-bottom: 10px;
  }
}
.video {
  margin-bottom: 50px;
}
.video__block {
  position: relative;
  width: 100%;
  height: 320px;
  margin-top: 100px;
  margin-bottom: 0px;
  background-image: url(../img/team.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  z-index: -1;
}
.video__block:before {
  content: '';
  display: block;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.link {
  display: block;
  color: #009eff;
  font-size: 16px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: 2px;
  text-align: center;
}
.link img {
  vertical-align: middle;
  padding-bottom: 5px;
}
.link:hover {
  opacity: 0.7;
}
.video__block-link {
  margin-top: 50px;
}
@media (min-width: 768px) {
  .video__block-link {
    margin-top: -185px;
  }
  .video__block {
    height: 580px;
  }
}
.trade {
  color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#161616), to(#101010));
  background-image: -webkit-linear-gradient(top, #161616, #101010);
  background-image: -o-linear-gradient(top, #161616, #101010);
  background-image: linear-gradient(to bottom, #161616, #101010);
}
.callback {
  display: none;
}
.callback__form,
.callback__desc {
  color: #fff;
}
.trade__wrapper {
  padding-top: 75px;
  padding-bottom: 100px;
  background-image: url(../img/img2.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: bottom right;
}
.trade__title {
  font-weight: lighter;
  font-size: 24px;
}
.trade__desc {
  font-size: 14px;
  line-height: 1.44;
}
.trade__link {
  text-align: left;
  margin-top: 15px;
}
@media (min-width: 560px) {
  .trade {
    margin-bottom: 100px;
  }
  .trade__title {
    width: 30%;
  }
  .trade__desc {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .about_us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 200px;
  }
  .trade {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 100px;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .callback {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #fff;
  }
  .callback__form {
    font-size: 32px;
  }
}
.callback__form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.callback__form {
  padding-bottom: 20px;
  line-height: normal;
}
.form {
  width: 60.666667%;
  margin-left: 40px;
}
.form__item input {
  height: 40px;
  font-size: 18px;
  font-weight: lighter;
  text-align: left;
  color: #4f4f4f;
  border: 0;
  background: none;
  border-bottom: 1px solid #535353;
  margin: 14px;
}
@media (min-width: 990px) {
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .form__item {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .form {
    width: 60%;
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .callback__form__wrapper {
    padding-bottom: 20px;
  }
  .callback__form {
    width: 30%;
    margin-left: 20px;
  }
  .callback__form br {
    display: none;
  }
  .form__item--btn {
    margin-top: 20px;
    margin-left: 10px;
  }
}
@media (min-width: 768px) {
  .trade__title {
    font-size: 56px;
    line-height: normal;
  }
  .trade__desc {
    font-size: 18px;
    width: 27%;
  }
  .trade__wrapper {
    padding-top: 50px;
  }
}
.banners {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#161616), to(#101010));
  background-image: -webkit-linear-gradient(top, #161616, #101010);
  background-image: -o-linear-gradient(top, #161616, #101010);
  background-image: linear-gradient(to bottom, #161616, #101010);
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
  padding-top: 12%;
}
.banners .banner_block:first-child {
  margin-bottom: 80px;
  background-image: url(../img/ban_bg3.png);
}
.banners .banner_block:nth-child(2) {
  background-size: 80%;
  background-position: bottom right;
  background-color: #edeef0;
  background-image: url(../img/ban_bg4.png);
}
.banner_block {
  background-color: #fff;
  font-weight: lighter;
  height: 356px;
  font-size: 14px;
  padding: 32px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
}
.banner_block__title {
  margin-top: 0;
  font-size: 24px;
  font-weight: lighter;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-bottom: 19px;
}
@media (min-width: 576px) {
  .banners__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .banner_block {
    max-width: 47%;
    margin-right: 30px;
  }
  .banner_block:nth-child(2) {
    margin-right: 0;
  }
}
@media (min-width: 768px) {
  .banner_block {
    height: 460px;
  }
  .banner_block__title {
    font-size: 28px;
  }
  .banner_block__desc {
    font-size: 18px;
  }
}
@media (min-width: 990px) {
  .banner_block {
    height: 640px;
  }
  .banner_block__title {
    font-size: 40px;
  }
  .banner_block__desc {
    font-size: 22px;
  }
  .banners .banner_block:nth-child(2) {
    background-size: 100%;
  }
}
@media (min-width: 1200px) {
  .banner_block {
    max-width: 47%;
    padding: 70px;
    height: 675px;
    margin-right: 50px;
  }
}
.page-footer {
  color: #fff;
  line-height: 1.44;
  font-size: 14px;
  background: -webkit-gradient(linear, left top, left bottom, from(#161616), to(#101010));
  background: -webkit-linear-gradient(top, #161616, #101010);
  background: -o-linear-gradient(top, #161616, #101010);
  background: linear-gradient(to bottom, #161616, #101010);
  padding-top: 40px;
  padding-bottom: 40px;
}
h3 {
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  margin-bottom: 19px;
}
p {
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  margin-bottom: 19px;
}
.big_phone {
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2px;
  color: #fff;
  border-bottom: 1px dashed #979797;
  display: inline-block;
}
.contacts__form {
  margin-top: 20px;
}
.footerIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 50px;
  border-bottom: 1px solid #313030;
}
.footerIcons a {
  display: inline-block;
  width: 27px;
  height: 26px;
  margin-right: 6px;
}
.footerIcons a:hover svg {
  fill: #007bff;
}
.сopyright__subtitle {
  display: inline-block;
  font-size: 16px;
  font-weight: lighter;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  padding-top: 40px;
  padding-bottom: 20px;
  margin-top: 0;
}
.сopyright__subtitle span {
  color: #007bff;
  cursor: pointer;
}
.сopyright__subtitle span:hover {
  opacity: 0.7;
}
.сopyright__subtitle span:active {
  opacity: 0.4;
}
@media (min-width: 576px) {
  .сopyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .сopyright__subtitle {
    width: 33.33%;
  }
  .сopyright {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .сopyright__subtitle {
    width: 33.3%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .big_phone {
    letter-spacing: 3px;
  }
}
.contacts__form {
  margin-top: 60px;
  margin-bottom: 60px;
}
.contacts__form .form__item-btn {
  margin-top: 40px;
}
.footerFormName,
.footerFormPhone {
  height: 40px;
  width: 80%;
  font-size: 18px;
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #4f4f4f;
  border: 0;
  background: none;
  border-bottom: 1px solid #535353;
  border-radius: 0;
}
@media (min-width: 996px) {
  .inner__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #313030;
  }
  .footerIcons {
    border: none;
  }
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 66.6%;
  }
  .contacts__form {
    margin-top: 100px;
  }
  .contacts__form .form__item-btn {
    margin-top: 65px;
  }
  .contacts__form,
  .contacts__inner-wrapper {
    width: 48%;
  }
  .social {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 30.333333%;
  }
  .social__desc,
  .contacts__desc {
    font-size: 18px;
    line-height: 1.44;
  }
  .footerIcons {
    border-bottom: 0;
  }
}
