/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace,monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace,monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
@font-face {
  font-family: 'Cera_round_promedium';
  src: url('../fonts/typemates_-_ceraroundpro-medium-webfont.woff2') format('woff2'), url('../fonts/typemates_-_ceraroundpro-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cera_round_probold';
  src: url('../fonts/typemates_-_cera_round_pro_bold-webfont.woff2') format('woff2'), url('../fonts/typemates_-_cera_round_pro_bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Cera_round_proregular';
  src: url('../fonts/typemates_-_ceraroundpro-regular-webfont.woff2') format('woff2'), url('../fonts/typemates_-_ceraroundpro-regular-webfont.woff') format('woff');
  font-weight: lighter;
  font-style: normal;
}
body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.6;
  font-family: 'Cera_round_proregular', "Arial", sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  min-width: 320px;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .container {
    min-width: 768px;
    padding: 0 30px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1250px) {
  .container {
    width: 1160px;
    padding: 0;
  }
}
.hidden {
  display: none;
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
input:valid {
  border-color: green;
}
input:invalid {
  border-color: red;
}
.title {
  font-size: 36px;
  line-height: 54px;
  color: #60759d;
  font-weight: normal;
}
.text {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}
.slider {
  position: relative;
  overflow: hidden;
}
.slider__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.8s ease;
  transition: -webkit-transform 0.8s ease;
  -o-transition: transform 0.8s ease;
  transition: transform 0.8s ease;
  transition: transform 0.8s ease, -webkit-transform 0.8s ease;
}
.slider__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.slider__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 16px;
  height: 2px;
  text-align: center;
  background: #5489c3;
}
.slider__control_show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slider__control:hover,
.slider__control:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}
.slider__control_left {
  right: 50%;
  margin-right: 8px;
}
.slider__control_right {
  left: 50%;
}
.slider__item > div {
  line-height: 250px;
  font-size: 100px;
  text-align: center;
}
.slider_controler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  top: 98%;
  position: relative;
  border: 1px solid #fff;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 70px;
  margin: 0 auto;
  border-radius: 25px;
}
.reviews__items {
  list-style: none;
  padding-left: 0;
  text-align: center;
  color: #fff;
}
.navbar,
.menu-item {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}
.btn {
  padding: 22px 32px;
  border: none;
  background-color: #e70067;
  color: #fff;
  border-radius: 25px;
  font-family: 'Cera_round_proregular', "Arial", sans-serif;
  cursor: pointer;
  outline: none;
  font-weight: bold;
}
.btn:active {
  opacity: 0.7;
}
.page-header {
  background-image: url(../img/bg_header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding-top: 20px;
  padding-bottom: 50px;
}
.page-header__nav,
.navbar,
.page-header__top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.page-header__logo {
  margin-right: 200px;
}
.navbar {
  width: 500px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-width: 500px;
  margin-right: 60px;
}
.navbar .menu-item a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}
.navbar-btn {
  background-color: rgba(250, 250, 250, 0);
  padding: 17.5px 42px;
  border: 2px solid #5489c3;
  border-radius: 50px;
}
.navbar-btn:hover {
  background-color: rgba(250, 250, 250, 0);
}
.discover__title {
  font-size: 36px;
  line-height: 54px;
  font-weight: normal;
  margin-top: 100px;
}
.discover__desc {
  text-align: center;
  width: 760px;
  margin: 0 auto;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
}
.discover__btn {
  margin-top: 50px;
  margin-bottom: 143px;
  padding: 20px 34px;
}
.discover__title {
  width: 760px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 40px;
}
.remsmed {
  background-image: url(../img/bg-main.jpg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
}
.remsmed__title {
  font-size: 36px;
  line-height: 54px;
  color: #60759d;
  font-weight: normal;
}
.list_item,
.remsmed__subtitle {
  font-size: 16px;
  line-height: 24px;
  color: #60759d;
  font-weight: bold;
}
.remsmed__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 150px;
  padding-bottom: 98p x;
}
.remsmed__text-block {
  width: 600px;
  margin-top: 50px;
}
.mobile {
  margin-left: 120px;
  margin-right: 100px;
  height: 652px;
}
.remsmed__list {
  padding-left: 20px;
}
.list_item {
  margin-top: 15px;
}
.remsmed__btn {
  margin-top: 20px;
}
.function {
  margin-top: 100px;
  background-color: #fff;
  background-image: url(../img/grey-bg.jpg);
  background-position: center;
  background-size: cover;
  padding-top: 150px;
  text-align: center;
  color: #60759d;
  padding-bottom: 50px;
}
.function__title {
  margin-top: 0;
  font-size: 36px;
  line-height: 54px;
  color: #60759d;
  font-weight: normal;
  font-weight: bold;
}
.list_item {
  margin-right: 50px;
  margin-top: 60px;
  margin-bottom: 60px;
}
.list_item .text,
.list_item img {
  border: 1px solid #c1e4f5;
  padding: 24px;
  border-radius: 50%;
}
.function__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 1040px;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
}
.list_item__text {
  width: 240px;
  margin: 0 auto;
  margin-top: 20px;
}
.page-footer {
  background-color: #39649d;
  color: #fff;
}
.page-footer__inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.page-header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.page-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
.page-footer__list a {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  text-decoration: none;
}
.page-footer__copyr {
  border-top: 1px solid #335b91;
  display: block;
  font-weight: normal;
  padding-top: 25px;
  padding-bottom: 30px;
  line-height: 21px;
  text-align: center;
}
.page-footer__copyr span {
  color: #e70067;
  font-weight: bold;
}
.remsmed__list .list_item {
  margin-top: 20px;
  margin-bottom: 15px;
}
.page-footer__list a {
  font-weight: normal;
}
