/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace,monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace,monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'), url('../fonts/opensans-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.6;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  background: #000;
  color: #fff;
}
img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 1000px) {
  .container {
    padding: 0;
  }
}
@media (min-width: 1000px) {
  .container {
    width: 960px;
    padding: 0 30px;
    margin: 0 auto;
  }
}
.hidden {
  display: none;
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 960px;
  margin: 0 auto;
}
.page-header__desc {
  background-color: #00aeef;
  color: #193945;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 45px;
  width: 640px;
}
.page-header__title {
  font-size: 35px;
  line-height: 22px;
  margin-top: 0;
  max-width: 450px;
}
.page-header__subtitle {
  font-size: 14px;
  line-height: 20px;
  max-width: 440px;
}
.page-header__logo-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 320px;
  height: 163px;
  padding-left: 30px;
  border-bottom: 1px solid #22252d;
}
.page-header__logo-wrap {
  background-color: #1f2229;
}
.page-header__logo-img:hover {
  opacity: 0.7;
}
.page-header__logo-img:active {
  opacity: 0.3;
}
@media (max-width: 1000px) {
  .page-header__wrapper {
    display: block;
    width: auto;
  }
  .page-header__logo-wrap {
    width: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
  }
  .page-header__desc {
    width: auto;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
  }
  .page-header__title {
    max-width: 100%;
    padding-top: 20px;
    font-size: 28px;
  }
  .page-header__subtitle {
    width: 450px;
    margin: 0 auto;
    padding-bottom: 20px;
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .page-header__subtitle {
    width: 100%;
    font-size: 15px;
    line-height: 24px;
  }
  .page-header__title {
    font-size: 24px;
    line-height: 30px;
  }
}
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 320px;
}
.menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
}
.menu_list-item {
  font-family: 'OpenSans', "Arial", sans-serif;
  background-color: #1f2229;
}
.menu_list-item a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 30px;
}
.menu_list-item--user a:hover {
  color: #fff;
}
.menu_list-item a:hover {
  color: #00aeef;
}
.menu_list-item a:active {
  opacity: 0.3;
}
.menu_list-item--user a,
.menu_list-item--active a {
  color: #808592;
}
.menu_list-item--active a:hover {
  color: #808592;
}
@media (max-width: 1000px) {
  .menu {
    width: 100%;
  }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu_list-item {
    width: 100%;
    font-size: 14px;
    line-height: 1.6;
  }
  .menu_list-item a {
    text-align: center;
    padding-left: 0;
  }
}
@media (max-width: 767px) {
  .menu__list {
    display: block;
  }
  .menu_list-item {
    border-bottom: 1px solid #1a1d26;
    font-size: 16px;
  }
}
input:valid {
  outline: 1px solid green;
}
input:invalid {
  outline: 1px solid red;
}
.page-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.btn {
  color: #fff;
  background-color: #94be00;
  border: none;
  padding: 15px 55px;
  border-radius: 5px;
  cursor: pointer;
}
.authorization__btn {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 15px;
  margin-top: 0px;
}
.authorization__btn:hover {
  background-color: #74be00;
}
.authorization__btn:active {
  color: rgba(255, 255, 255, 0.5);
}
.authorization {
  color: #bec6cf;
  background-color: #f7f8f8;
  width: 640px;
}
.authorization__subtitle {
  font-size: 16px;
  line-height: 21px;
  margin-top: 0;
  color: #535864;
}
.definition {
  color: #535864;
}
.authorization__title {
  color: #383d43;
  font-size: 21px;
  line-height: 26px;
}
.authorization__form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.authorization__footer {
  background-color: #373c43;
  padding: 20px 30px;
}
.authorization__footer-text {
  font-size: 12px;
  line-height: 18px;
  color: #7f8591;
}
.authorization__footer span {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
.form_inner-wrapper {
  padding: 30px;
}
.authorization__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.authorization__info div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.authorization__info div:first-child {
  margin-bottom: 10px;
}
.term {
  width: 130px;
}
.definition {
  width: 160px;
  margin: 0;
}
.authorization__item-label {
  font-size: 16px;
  line-height: 21px;
  color: #8494ab;
}
#cart,
#term_second,
#term,
#holder,
#code {
  height: 40px;
  border: 1px solid #f6f8f9;
}
#cart {
  width: 65px;
  margin-right: 8px;
  margin-top: 5px;
}
#cart:last-child {
  margin-right: 0;
}
#term_second,
#term {
  width: 55px;
  margin-right: 8px;
  margin-top: 5px;
  padding-left: 15px;
}
#term_second {
  width: 68px;
}
#holder {
  width: 300px;
  padding-left: 15px;
}
#code {
  width: 90px;
  padding-left: 10px;
  padding-right: 40px;
  position: relative;
}
.authorization__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 300px;
  margin-top: 10px;
}
.authorization__item-label {
  width: 100%;
}
.authorization__item--term {
  position: relative;
}
.authorization__item--term:after {
  content: "";
  width: 16px;
  height: 8px;
  position: absolute;
  top: 45px;
  left: 138px;
  background-image: url(../img/term.png);
  cursor: pointer;
}
.authorization__item--term:before {
  content: "";
  width: 16px;
  height: 8px;
  position: absolute;
  top: 45px;
  left: 45px;
  background-image: url(../img/term.png);
  cursor: pointer;
}
.authorization__form--first-cart {
  width: 333px;
  border: 1px solid #e4e9ee;
  border-radius: 15px;
  padding-left: 15px;
  z-index: 1;
  background-color: #f7f8f8;
}
.authorization__form--second-cart {
  width: 368px;
  border: 1px solid #e4e9ee;
  border-radius: 15px;
  margin-bottom: -25px;
  height: 235px;
  margin-top: 20px;
  z-index: 0;
  margin-left: -155px;
  position: relative;
  background-color: #f7f8f8;
}
.authorization__form--second-cart .authorization__item-label::after {
  content: "";
  width: 27px;
  height: 27px;
  position: absolute;
  top: 115px;
  right: 20px;
  background-image: url(../img/svg/question.svg);
  z-index: 2;
  cursor: pointer;
}
.authorization__item--second-cart {
  margin-left: 215px;
  margin-top: 85px;
}
.authorization__item--second-cart::before {
  content: "";
  width: 215px;
  height: 40px;
  position: absolute;
  top: 25px;
  right: 0;
  background-color: #e4e9ee;
}
.authorization__item--second-cart {
  width: 150px;
}
.authorization__form-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}
input[type="text"]::-webkit-input-placeholder {
  color: #bec6cf;
  font-size: 16px;
}
input[type="text"]::-moz-placeholder {
  color: #bec6cf;
  font-size: 16px;
}
input[type="text"]:-ms-input-placeholder {
  color: #bec6cf;
  font-size: 16px;
}
input[type="text"]::-ms-input-placeholder {
  color: #bec6cf;
  font-size: 16px;
}
input[type="text"]::placeholder {
  color: #bec6cf;
  font-size: 16px;
}
@media (max-width: 1000px) {
  .page-main {
    display: block;
  }
  .authorization {
    width: auto;
  }
}
@media (max-width: 767px) {
  .page-main {
    text-align: center;
  }
  .authorization__form-wrap {
    display: block;
  }
  .authorization__subtitle {
    font-size: 18px;
    line-height: 24px;
  }
  .authorization__info {
    margin: 0 auto;
  }
  .term {
    width: 50%;
    padding-right: 15px;
    text-align: right;
  }
  .definition {
    width: 48%;
    text-align: left;
  }
  .authorization__form--second-cart,
  .authorization__form--first-cart {
    margin-left: auto;
    margin-right: auto;
    width: 260px;
  }
  .authorization__item--second-cart::before {
    width: 260px;
  }
  .authorization__item--second-cart {
    margin: 100px auto;
  }
  .authorization__form--second-cart .authorization__item-label::after {
    top: 130px;
    right: 70px;
  }
  .authorization__btn {
    margin-top: 30px;
  }
  #cart {
    width: 55px;
    margin-right: 6px;
    margin-top: 5px;
  }
  #holder {
    width: 200px;
    padding-left: 40px;
  }
  .authorization__item {
    width: 260px;
    margin-bottom: 20px;
  }
  .authorization__title {
    font-size: 18px;
    margin-top: 30px;
  }
  #term {
    margin-left: 50px;
  }
  .authorization__item--term:before {
    left: 95px;
  }
  .authorization__item--term:after {
    top: 45px;
    left: 190px;
  }
  #code {
    margin: 0 auto;
  }
}
